section {
    margin-top: 3%;
}

.middle {
    margin-bottom: 5%;
    padding: 5%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards {
    width: 30%;
    background: white;
    padding: .1em;
    margin-bottom: 2%;
    height: 29vh;
    cursor: pointer;
}

img {
    width: 95%;
}